<div class="ad p-a-sm m-b-md no-ul">
<script>
    (function() {
        if (window.location.host !== "bitsofco.de") return;
        
        var carbonadsScript = document.createElement('script'); 
        carbonadsScript.type = 'text/javascript'; 
        carbonadsScript.async = true;
        carbonadsScript.src = '//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=bitsofcode';
        carbonadsScript.id = '_carbonads_js';

        var adBox = document.getElementsByClassName('ad')[0];
        adBox.classList.add('box');
        adBox.appendChild(carbonadsScript)
    })();
</script>
</div>