<div class="pagination">
    {{#if prev}}
        <a class="pagination__newer" href="{{page_url prev}}">
            &#8592; Newer
        </a>
    {{/if}}

    <span class="pagination__index">Page {{page}} of {{pages}}</span>

    {{#if next}}
        <a class="pagination__older" href="{{page_url next}}">
            Older &#8594;
        </a>
    {{/if}}
</div>