<aside class="site__sidebar">
    <div class="box p-a-sm m-b-md">
        <p class="m-b-sm"><strong>bitsofcode</strong>. Articles on Frontend Development. All articles are written by <a
                href="https://ireaderinokun.com">Ire Aderinokun</a>, Frontend Developer and User Interface Designer. </p>

        <a href="https://twitter.com/ireaderinokun" class="twitter-follow-button" data-show-count="true">Follow @ireaderinokun</a>
    </div>

    {{> ad}}

    <div class="social">
        <ul>
            <li>
                <a href="https://bitsofco.de/rss" target="_blank" rel="noopener">
                    <span class="sr-only">RSS Feed</span>
                    {{> icon-rss}}
                </a>
            </li>
            <li>
                <a href="https://twitter.com/botsofcode" target="_blank" rel="noopener">
                    <span class="sr-only">Twitter</span>
                    {{> icon-twitter}}
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/bitsofcodeblog" target="_blank" rel="noopener">
                    <span class="sr-only">Facebook</span>
                    {{> icon-facebook}}
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/bitsofcode" target="_blank" rel="noopener">
                    <span class="sr-only">YouTube</span>
                    {{> icon-youtube}}
                </a>
            </li>
        </ul>
    </div>
</aside>