<div class="dialog dialog--search" aria-hidden="true">

    <div class="site__search__modal">
        <a href="/" class="anchorButton no-btn focus--theme site__search__close m-b-md">
            <span class="sr-only">Close Search</span>
            {{> icon-cancel}}
        </a>

        <form class="search-form" action="">
            <label for="search_input"></label>
            <input type="search" id="search_input" class="search-form__input">
        </form>
    </div>



</div>


