<div class="dialog dialog--nav" aria-hidden="true">
    <nav class="site__nav">

        <a href="/" class="anchorButton no-btn focus--theme site__nav__close">
            <span class="sr-only">Close Navigation</span>
            {{> icon-cancel}}
        </a>

        {{navigation}}

    </nav>
</div>


