{{!< default}}
{{#post}}
    <article class="post">
        <header class="post__header m-b-lg">
            <h1 class="post__title h1">{{title}}</h1>
        </header>

        <div class="post__content page__content m-b-lg">
            {{ content }}
        </div>

        {{> subscribe}}

    </article>
{{/post}}


