
.ad {
    text-align: center;

    img {
        @extend .show-broken;
    }
}

#carbonads .carbon-text {
    display: block;
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 10px
}

#carbonads .carbon-poweredby {
    font-size: 1.3rem;
    font-style: italic
}
