/* Excerpt ****************************/

.excerpt {
    padding-bottom: 30px;
    margin-bottom: 30px
}

.excerpt:not(:last-of-type) {
    border-bottom: 2px solid #e6e6e6
}

/* Suggestions ****************************/

.post__suggestions {
    display: flex;
    justify-content: space-between
}

.post__suggestion {
    width: 100%
}

@media screen and (min-width:400px) {
    .post__suggestion {
        width: 50%
    }
}

.post__suggestion:only-of-type {
    width: 100%
}

.post__suggestion:last-child {
    text-align: right
}

/* Meta ****************************/

.post__meta > *:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    position: relative
}

.post__meta > *:not(:last-child):after {
    content: "";
    height: 5px;
    width: 5px;
    background: #3c3c3c;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: 6px
}


/* Content ****************************/

.post__content {
    border-bottom: 2px solid #e6e6e6;
    line-height: 1.7;
    font-size: 1.65rem;

    p {
        margin-bottom: 1rem;
    }

    small {
        font-size: 1.45rem
    }

    a > code,
    h2 > code,
    h3 > code,
    li > code,
    p > code,
    span > code,
    td > code,
    th > code {
        font-family: $font-family-monospace;
        font-weight: 600
    }

    p > code {
        font-size: 0.9em;
    }
}

.post__content h2 {
    margin-top: 4rem;
    margin-bottom: 1rem
}

.post__content h3 {
    margin-top: 3rem;
    margin-bottom: 1rem
}

.post__content h4 {
    margin-top: 3rem;
    margin-bottom: 1rem
}

.h4, .post__content h4 {
  font-size: 1.6rem;
}

.post__content ol,
.post__content ul {
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem
}

.post__content ol ol,
.post__content ol ul,
.post__content ul ol,
.post__content ul ul {
    margin-top: 5px;
    margin-bottom: 5px
}

.post__content ul {
    list-style-type: disc
}

.post__content blockquote {
    border-left: 5px solid $colour-theme;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem
}

.post__content blockquote p {
    margin: 0;
    font-style: italic
}

.post__content cite {
    margin-top: -1rem;
    display: block;
    padding-left: 3rem;
    padding-bottom: 1rem
}

.post__content cite:before {
    content: "—";
    padding-right: 1rem
}

.post__content blockquote cite {
    padding: 0
}

.post__content table {
    border: 0;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.55rem
}

.post__content table thead {
    font-weight: 600;
    text-align: left;
    background-color: #e6e6e6
}

.post__content table thead th,
.post__content table thead tr {
    padding: 10px
}

.post__content table tr {
    border-bottom: 2px solid #e6e6e6
}

.post__content table td {
    padding: 10px
}

.post__content img:not(.d-ib) {
    width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 3rem
}

.post__content img.d-ib {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    padding: 0 10px 10px
}

.post__content .img-inline img {
    display: inline-block;
    margin: 0 10px 20px
}

.post__content .img-inline {
    text-align: center
}

.post__content .img-subheading {
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
    display: block;
    margin-top: -20px;
    margin-bottom: 20px
}

.post__content video {
    max-width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem
}

.post__content video[autoplay] {
    width: 100%
}

.post__content .ta-center {
    text-align: center
}

.post__content blockquote.twitter-tweet {
    display: block;
    margin: 0 auto
}

.post__content #twitter-widget-0 {
    margin: 10px auto
}

.post__content .twitter-tweet-container [data-tweet-id="788425374589972481"] {
    width: 300px!important
}

.post__content .youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1.5em
}

.post__content .youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.post__content .email-display {
    display: none
}

.post__content hr {
    border: 0;
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 3rem;
}

// Code block addendum

.post__content .code-addendum {
    font-family: $font-family;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    margin-top: -22px;
    margin-bottom: 2rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 10px;
    padding-right: 10px
}

.post__content .code-addendum.warning {
    background-color: #dd4a68
}

.post__content .code-addendum.success {
    background-color: #27ae60
}

// Code block hading

.post__content .code-heading {
    font-family: $font-family;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: -22px;
    margin-top: 2rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
   
    /* differences from code-addendum */
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    background-color: #000;
    color: #fff;
}

.post__content .code-heading p {
    margin: 0;
}

// Checkmark

.post__content span.checkmark {
    font-size: 1.8rem;
    text-align: center;
    display: block;
}

.post__content span.checkmark.green {
    color: green;
}

.post__content span.checkmark.red {
    color: red;
}

/* Post-specific styles ****************************/

.post__content table.pseudo-selectors td,
.post__content table.pseudo-selectors th {
    width: 50%;
    text-align: center;
}

.post__content #target-test {
    background-color: transparent;
    border-bottom: 3px solid $colour-theme;
    font-weight: 700;
}

.post__content #target-test:target {
    background-color: $colour-theme
}

/* Footnote */

.footnotes {
    margin-top: 2em;
    margin-bottom: -2em;
    padding-top: 2em;
    border-top: 2px solid #e6e6e6;
}


/* DOM tree */

ul.dom-tree,
ul.dom-tree ul,
ul.dom-tree li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.dom-tree {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul.dom-tree ul {
  padding-left: 2em;
}

ul.dom-tree li {
  position: relative;
}

ul.dom-tree ul li:first-child::before {
    content: "";
    position: absolute;
    top: -1em;
    height: 2em;
    left: -0.75em;
    width: 1em;
    border-style: none none solid solid;
    border-width: 0.1em;
    border-color: #3c3c3c;
}

ul.dom-tree li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -0.6em;
  left: -0.75em;
  width: 1em;
  border-style: none none solid solid;
  border-width: 0.1em;
  border-color: #3c3c3c;
}

ul.dom-tree li span {
    background-color: #3c3c3c;
    color: #fff;
    padding: 0 7px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 3px;
    min-width: 2em;
    text-align: center;
}

/* Share ****************************/

.post__share {
    display: flex;
    margin-top: -15px;
    margin-bottom: 30px
}

/* Footer ****************************/

.post__footer {
    border-bottom: 2px solid #e6e6e6
}

.page__content {
    border-bottom: 0
}

.box {
    border: 2px solid #e6e6e6;
    border-radius: 3px
}

.pagination {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between
}

/* Save for offline ****************************/

#save {
    background: none;
    border: 0;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    padding-left: 0;
    position: relative;

    .icon {
        vertical-align: sub;
    }

    .label  {
        position: absolute;
        width: 300px;
        height: 100%;
        top: 0;
        left: 100%;
        z-index: 1;
        text-align: left;
        background-color: $colour-bg;
        opacity: 0;

        transition: opacity 0.5s;
    }
}

#save:hover .label,
#save:focus .label {
    opacity: 1;
}

#save.saved path {
    fill: #90cd4e;
}
