/* Subscribe ****************************/

.subscribe-form {
    background: #fff;
    margin-bottom: 30px;
    padding: 20px;
    position: relative
}

@media screen and (min-width:500px) {
    .subscribe-form__description {
        max-width: 60%
    }
}

.subscribe-form__image {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 25%;
    z-index: 1;

    img  {
        width: 100%;
    }
}

@media screen and (min-width:500px) {
    .subscribe-form__image {
        width: 20%
    }
}

.subscribe-form__fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 2
}

.subscribe-form__field input {
    height: 40px;
    width: 100%;
    border-radius: 3px;
    font-family: $font-family;
    border: 0
}

.subscribe-form__field--input {
    width: 75%;
    margin-bottom: 10px
}

@media screen and (min-width:500px) {
    .subscribe-form__field--input {
        width: 35%;
        margin-bottom: 0
    }
}

.subscribe-form__field--input input {
    background-color: #e6e6e6;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem
}

.subscribe-form__field--submit {
    width: 100%;
    max-width: 130px
}

@media screen and (min-width:500px) {
    .subscribe-form__field--submit {
        width: 25%
    }
}

.subscribe-form__field--submit input {
    background-color: $colour-theme;
    font-size: 1.4rem;
    font-weight: 600;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .17);
    cursor: pointer;
}