html {
    font-size: 62.5%
}

body {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: $font-family;
    font-weight: 300
}

a {
    text-decoration: underline;
    color: inherit
}

small {
    font-size: 1.3rem
}

strong {
    font-weight: 600
}

em {
    font-style: italic
}

.h1 {
    font-size: 2.6rem;
    font-weight: 600
}

.h2,
.post__content h2 {
    font-size: 2.3rem;
    font-weight: 600
}

.h3,
.post__content h3 {
    font-size: 1.9rem;
    font-weight: 600
}

.h4,
.post__content h4 {
    font-size: 1.8rem;
    font-weight: 600
}

.focus--theme {
    outline: 0
}

.focus--theme:focus,
.focus--theme:hover {
    color: $colour-theme
}

.focus--theme:focus .fill,
.focus--theme:hover .fill {
    fill: $colour-theme
}

* {
    outline-color: $colour-theme
}

p::selection {
    background: $colour-theme
}

p::-moz-selection {
    background: $colour-theme
}

a::selection {
    background: $colour-theme
}

a::-moz-selection {
    background: $colour-theme
}

h1::selection {
    background: $colour-theme
}

h1::-moz-selection {
    background: $colour-theme
}

h2::selection {
    background: $colour-theme
}

h2::-moz-selection {
    background: $colour-theme
}

h3::selection {
    background: $colour-theme
}

h3::-moz-selection {
    background: $colour-theme
}

h4::selection {
    background: $colour-theme
}

h4::-moz-selection {
    background: $colour-theme
}

div::selection {
    background: $colour-theme
}

div::-moz-selection {
    background: $colour-theme
}

code::selection {
    background: $colour-theme
}

code::-moz-selection {
    background: $colour-theme
}

pre::selection {
    background: $colour-theme
}

pre::-moz-selection {
    background: $colour-theme
}

strong::selection {
    background: $colour-theme
}

strong::-moz-selection {
    background: $colour-theme
}

em::selection {
    background: $colour-theme
}

em::-moz-selection {
    background: $colour-theme
}

li::selection {
    background: $colour-theme
}

li::-moz-selection {
    background: $colour-theme
}

table::selection {
    background: $colour-theme
}

table::-moz-selection {
    background: $colour-theme
}

img::selection {
    background: $colour-theme
}

img::-moz-selection {
    background: $colour-theme
}

img {
    position: relative;
    font-size: 1.4rem;
    font-style: italic
}

img:after {
    content: "Uh Oh! This image is broken! (" attr(alt) ")";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    height: auto;
    width: 100%;
    padding: 5px 10px;
    border: 2px solid #e6e6e6;
    background-color: #f5f5f5;
    z-index: 1
}

img.show-broken {
    font-style: normal;
}

img.show-broken:after {
    content: "";
    border: 0;
    background-color: initial;
    z-index: initial;
    padding: 0;
    position: relative;
}
