
$colour-theme: #ffdb3a;
$colour-bg: #f5f5f5;
$colour-border: #e6e6e6;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
$font-family-monospace: "Dank Mono", Inconsolata, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
